include ../_mixins
section.d-none#desktop(data-bind="fadeVisible: state()=='desktop'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('desktop')] Desktop