section#logout(data-bind="if: sub_state()=='logout'")
  h1.text-center.my-3 Logout
  p.text-center Gracias por usar la aplicación
  p.text-center
    a(data-bind="setAppState: 'login'" href="#login") Login