include ../_mixins
section.d-none#team(data-bind="fadeVisible: state()=='team'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('team')] Teams
      .nav-item.dropdown(data-bind="visible: Team.someSelectedTeam")
        a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") #[i.fa.fa-wrench(aria-hidden='true')] Actions
        ul.dropdown-menu
          li: a.dropdown-item(href="#duplicate") Duplicate
          li: a.dropdown-item(data-bind="click: Team.deleteSelected" href="#delete") Delete
      .nav-item
        button.btn.btn-primary.shadow(data-bs-toggle="modal" data-bs-target="#teamModal" data-bind="click: Team.newTeam") #[i.fa.fa-plus] Add Team
  .container-fluid
    .table-responsive.table-wrapper.rounded
      table.table-list.table.table-striped.table-hover
        thead
          tr
            th.cursor-pointer(data-bind="click: Team.deselectAll") #
            th name
            th personal_team
            th.text-end: +tableNav()
        tbody(data-bind="foreach: teams")
          tr
            td.id
              input(type="checkbox" data-bind="checked: selected")
            td.name.text-primary(data-bs-toggle="modal" data-bs-target="#teamModal" data-bind="click: select.bind($parent), text: name")
            td.personal_team(colspan="100%" data-bind="text: personal_team") personal_team
            //-td.text-end
            //-  button.btn.btn-sm.btn-link(data-bs-toggle="modal" data-bs-target="#teamModal" data-bind="click: select.bind($parent)") edit
include team_form
