.modal.fade#teamModal(tabindex="1")
  .modal-dialog.modal-xl.modal-dialog-scrollable
    .modal-content(data-bind="with: selectedTeam")
      .modal-header
        h5.modal-title
          span(data-bind="if: id!=0") Team #[span(data-bind="text: name")]
          span(data-bind="if: id==0") New Team #[span(data-bind="text: name")]
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form(action="#")
          .mb-3
            label.col-form-label(for="team-name") Name
            input.form-control#team-name(type="text" data-bind="value: name")
          .mb-3
            label.col-form-label(for="team-personal_team") Personal_team
            input.form-control#team-personal_team(type="text" data-bind="value: personal_team")
      .modal-footer
        button.btn.btn-secondary(data-bind="click: cancel" type="button" data-bs-dismiss="modal") Close
        button.btn.btn-primary(data-bind="click: save" type="button" _data-bs-dismiss="modal") Save changes