.modal.fade#farmModal(tabindex="1")
  .modal-dialog.modal-xl.modal-dialog-scrollable
    .modal-content(data-bind="with: selectedFarm")
      .modal-header
        h5.modal-title
          span(data-bind="if: id!=0") Farm #[span(data-bind="text: name")]
          span(data-bind="if: id==0") New Farm #[span(data-bind="text: name")]
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form(action="#")
          .mb-3
            label.col-form-label(for="farm-name") Name
            input.form-control#farm-name(type="text" data-bind="value: name")
          .mb-3
            label.col-form-label(for="farm-active") Active
            input.form-control#farm-active(type="text" data-bind="value: active")
      .modal-footer
        button.btn.btn-secondary(data-bind="click: cancel" type="button" data-bs-dismiss="modal") Close
        button.btn.btn-primary(data-bind="click: save" type="button" _data-bs-dismiss="modal") Save changes