include ../_mixins
section.d-none#farm(data-bind="fadeVisible: state()=='farm'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('farm')] Farms
      .nav-item.dropdown(data-bind="visible: Farm.someSelectedFarm")
        a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") #[i.fa.fa-wrench(aria-hidden='true')] Actions
        ul.dropdown-menu
          li: a.dropdown-item(href="#duplicate") Duplicate
          li: a.dropdown-item(data-bind="click: Farm.deleteSelected" href="#delete") Delete
      .nav-item
        button.btn.btn-primary.shadow(data-bs-toggle="modal" data-bs-target="#farmModal" data-bind="click: Farm.newFarm") #[i.fa.fa-plus] Add Farm
  .container-fluid
    .table-responsive.table-wrapper.rounded
      table.table-list.table.table-striped.table-hover
        thead
          tr
            th.cursor-pointer(data-bind="click: Farm.deselectAll") #
            th name
            th active
            th.text-end: +tableNav()
        tbody(data-bind="foreach: farms")
          tr
            td.id
              input(type="checkbox" data-bind="checked: selected")
            td.name(data-bs-toggle="modal" data-bs-target="#farmModal" data-bind="click: select.bind($parent), text: name")
            td.active(colspan="100%" data-bind="text: active") active
            //-td.text-end
            //-  button.btn.btn-sm.btn-link(data-bs-toggle="modal" data-bs-target="#farmModal" data-bind="click: select.bind($parent)") edit
include farm_form
