include ../_mixins
section.d-none#item(data-bind="fadeVisible: api_token() && state()=='item'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('item')] Items
      .nav-item.dropdown(data-bind="visible: Item.someSelectedItem")
        a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") #[i.fa.fa-wrench(aria-hidden='true')] Actions
        ul.dropdown-menu
          li: a.dropdown-item(href="#duplicate") Duplicate
          li: a.dropdown-item(data-bind="click: Item.deleteSelected" href="#delete") Delete
      .nav-item
        button.btn.btn-primary.shadow(data-bs-toggle="modal" data-bs-target="#itemModal" data-bind="click: Item.newItem") #[i.fa.fa-plus] Add Item
  .container-fluid
    .table-responsive.table-wrapper.rounded
      table.table-list.table.table-striped.table-hover
        thead
          tr
            th.cursor-pointer(data-bind="click: Item.deselectAll") #
            th name
            th.text-end: +tableNav()
        tbody(data-bind="foreach: items")
          tr
            td.id
              input(type="checkbox" data-bind="checked: selected")
            td.name.w-100(colspan="100%" data-bs-toggle="modal" data-bs-target="#itemModal" data-bind="click: select.bind($parent), text: name")
            //-td.text-end
            //-  button.btn.btn-sm.btn-link(data-bs-toggle="modal" data-bs-target="#itemModal" data-bind="click: select.bind($parent)") edit
include item_form
