.modal.fade#plotModal(tabindex="1")
  .modal-dialog.modal-xl.modal-dialog-scrollable
    .modal-content(data-bind="with: selectedPlot")
      .modal-header
        h5.modal-title
          span(data-bind="if: id!=0") Plot #[span(data-bind="text: name")]
          span(data-bind="if: id==0") New Plot #[span(data-bind="text: name")]
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form(action="#")
          .mb-3
            label.col-form-label(for="plot-name") Name
            input.form-control#plot-name(type="text" data-bind="value: name")
          .mb-3
            label.col-form-label(for="plot-code") Code
            input.form-control#plot-code(type="text" data-bind="value: code")
          .mb-3
            label.col-form-label(for="plot-description") Description
            input.form-control#plot-description(type="text" data-bind="value: description")
          .mb-3
            label.col-form-label(for="plot-surface") Surface
            input.form-control#plot-surface(type="text" data-bind="value: surface")
          .mb-3
            label.col-form-label(for="plot-dripper_lines") Dripper_lines
            input.form-control#plot-dripper_lines(type="text" data-bind="value: dripper_lines")
          .mb-3
            label.col-form-label(for="plot-dripper_gap") Dripper_gap
            input.form-control#plot-dripper_gap(type="text" data-bind="value: dripper_gap")
      .modal-footer
        button.btn.btn-secondary(data-bind="click: cancel" type="button" data-bs-dismiss="modal") Close
        button.btn.btn-primary(data-bind="click: save" type="button" _data-bs-dismiss="modal") Save changes