include ../_mixins
section.d-none#plot(data-bind="fadeVisible: state()=='plot'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('plot')] Plots
      .nav-item.dropdown(data-bind="visible: Plot.someSelectedPlot")
        a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") #[i.fa.fa-wrench(aria-hidden='true')] Actions
        ul.dropdown-menu
          li: a.dropdown-item(href="#duplicate") Duplicate
          li: a.dropdown-item(data-bind="click: Plot.deleteSelected" href="#delete") Delete
      .nav-item
        button.btn.btn-primary.shadow(data-bs-toggle="modal" data-bs-target="#plotModal" data-bind="click: Plot.newPlot") #[i.fa.fa-plus] Add Plot
  .container-fluid
    .table-responsive.table-wrapper.rounded
      table.table-list.table.table-striped.table-hover
        thead
          tr
            th.cursor-pointer(data-bind="click: Plot.deselectAll") #
            th name
            th code
            th.text-end: +tableNav()
        tbody(data-bind="foreach: plots")
          tr
            td.id
              input(type="checkbox" data-bind="checked: selected")
            td.name.text-primary(data-bs-toggle="modal" data-bs-target="#plotModal" data-bind="click: select.bind($parent), text: name")
            td.code(colspan="100%" data-bind="text: code") code
            //-td.text-end
            //-  button.btn.btn-sm.btn-link(data-bs-toggle="modal" data-bs-target="#plotModal" data-bind="click: select.bind($parent)") edit
include plot_form
