#debugSection.p-1
  .api_token APITOKEN: #[span(data-bind="text: api_token")]
  .user_id USER_ID: #[span(data-bind="text: user().id")]
  .state STATE: #[span(data-bind="text: state")]
  .sub_state SUB_STATE: #[span(data-bind="text: sub_state")]