include ../_mixins
section.d-none#dashboard(data-bind="fadeVisible: api_token() && state()=='dashboard'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('dashboard')] Dashboard