include ../_mixins
section.d-none#task(data-bind="fadeVisible: state()=='task'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('task')] Tasks
      .nav-item.dropdown(data-bind="visible: Task.someSelectedTask")
        a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") #[i.fa.fa-wrench(aria-hidden='true')] Actions
        ul.dropdown-menu
          li: a.dropdown-item(href="#duplicate") Duplicate
          li: a.dropdown-item(data-bind="click: Task.deleteSelected" href="#delete") Delete
      .nav-item
        button.btn.btn-primary.shadow(data-bs-toggle="modal" data-bs-target="#taskModal" data-bind="click: Task.newTask") #[i.fa.fa-plus] Add Task
  .container-fluid
    .table-responsive.table-wrapper.rounded
      table.table-list.table.table-striped.table-hover
        thead
          tr
            th.cursor-pointer(data-bind="click: Task.deselectAll") #
            th name
            th.text-end: +tableNav()
        tbody(data-bind="foreach: tasks")
          tr
            td.id
              input(type="checkbox" data-bind="checked: selected")
            td.name.w-100(colspan="100%" data-bs-toggle="modal" data-bs-target="#taskModal" data-bind="click: select.bind($parent), text: name")
            //-td.text-end
            //-  button.btn.btn-sm.btn-link(data-bs-toggle="modal" data-bs-target="#taskModal" data-bind="click: select.bind($parent)") edit
include task_form
