include ../_mixins
section.d-none#property(data-bind="fadeVisible: state()=='property'")
  .container-fluid
    nav.nav.d-flex.justify-content-between.align-items-center
      h1.navbar-brand.text-shadow #[+modelIcon('property')] Properties
      .nav-item.dropdown(data-bind="visible: Property.someSelectedProperty")
        a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown") #[i.fa.fa-wrench(aria-hidden='true')] Actions
        ul.dropdown-menu
          li: a.dropdown-item(href="#duplicate") Duplicate
          li: a.dropdown-item(data-bind="click: Property.deleteSelected" href="#delete") Delete
      .nav-item
        button.btn.btn-primary.shadow(data-bs-toggle="modal" data-bs-target="#propertyModal" data-bind="click: Property.newProperty") #[i.fa.fa-plus] Add Property
  .container-fluid
    .table-responsive.table-wrapper.rounded
      table.table-list.table.table-striped.table-hover
        thead
          tr
            th.cursor-pointer(data-bind="click: Property.deselectAll") #
            th name
            th active
            th register_code
            th.text-end: +tableNav()
        tbody(data-bind="foreach: properties")
          tr
            td.id
              input(type="checkbox" data-bind="checked: selected")
            td.name.text-primary(data-bs-toggle="modal" data-bs-target="#propertyModal" data-bind="click: select.bind($parent), text: name")
            td.active(data-bind="text: active") active
            td.register_code(colspan="100%" data-bind="text: register_code") register_code
            //-td.text-end
            //-  button.btn.btn-sm.btn-link(data-bs-toggle="modal" data-bs-target="#propertyModal" data-bind="click: select.bind($parent)") edit
include property_form
